@font-face {
    font-family: Atkinson;
    src: url("../assets/fonts/atkinson-hyperlegible-regular-102-webfont.woff");
}

:root {
    --pink: #e8d2d0;
    --coral: #ea5f57;
    --black: black;
    --white: white;
}

body {
    font-family: Atkinson, sans-serif;
    background-color: var(--coral);
    font-size: 1.5rem;
    max-width: 40rem;
    margin: 0 auto;
    padding: 0rem 1rem 1rem 1rem;
}

main {
    display: block;
}

#title {
    font-size: 2em;
    color: var(--pink);
}

a {
    text-decoration: none;
    color: var(--pink);
}

li::marker {
    color: var(--pink);
}