@font-face {
    font-family: Atkinson;
    src: url("../assets/fonts/atkinson-hyperlegible-regular-102-webfont.woff");
}

:root {
    --background: #3a4226;
    --foreground: #145fa4;
    /* --link: rgb(255, 100, 100); */
}

body {
    font-family: Garamond, serif;
    background-color: var(--background);
    font-size: 1.25rem;
    max-width: 60rem;
    margin: 0 auto;
    padding: 0rem 1rem 1rem 1rem;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background-color: blue; */
}

#title {
    /* background-color: red; */
    text-align: center;
    font-size: 8em;
    color: var(--foreground);
    line-height: 0.75em;
    resize: vertical;
    /* filter: drop-shadow(10px 4px 4px #222222); */
    /* overflow: auto; */
}

#email {
    padding-top: 10vh;
    text-align: center;
    font-size: 2em;
    color: var(--foreground);
    resize: vertical;
    /* filter: drop-shadow(4px 4px 4px #222222); */
}

a {
    text-decoration: none;
    color: var(--foreground);
}